@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=B612:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


a {
    text-decoration: none;
    color: #3C4043;
    cursor: pointer;
    outline: none;
    
}
a:active {
    text-decoration: none;
    color: #3C4043;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, li, button, input {
    font-family: roboto;
}

ol {
    list-style-type: none;
}
ul {
    list-style-type: none;
}
li {
    list-style-type: square;
}
html {
    width: 100%;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    width:100%  ;
    background-color: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
button:hover {
    /* box-shadow: 0px 0px 10px #0185f1; */
    transform: translateX(1px);
    transition: all 0.2s ease-in-out;
}
.grey_line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(189, 189, 189, 1);
}

/*==header==*/

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1080px;
}
.popup {
    width: 100%;
    position: fixed;
    left: auto;
    background: rgba(19, 19, 19, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-150%);
    transition: all 0.7s ease-in-out;
}
.popup.active {
    transition: all 0.7s ease-in-out;
    transform: translateY(0%);
    display: flex;
}
.header__burger {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.2s ease-in-out;
}
.close {
    display: inline;
    border-bottom: 3px solid rgba(189, 189, 189, 1);
    width:36px;
    margin-bottom: 7px;
    border-radius: 3px;
}
.header__burger-close {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.2s ease-in-out;
}
.header__burger-close:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.close:first-child {
    transform: rotate(45deg);
}
.close:last-child {
    position: relative;
    transform: rotate(135deg);
    bottom: 10px;
}
.header__burger-item {
    display: inline;
    border-bottom: 3px solid rgba(189, 189, 189, 1);
    width:36px;
    margin-bottom: 7px;
    border-radius: 3px;
}
.header__burger-item:nth-child(2){
    width: 25px;
}
.header__burger:hover { 
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.popup__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 48px;
    line-height: 56px;
    font-weight: 300;
    color: rgba(130, 130, 130, 1);
    padding-bottom: 50px;
    z-index: 10;
}
.popup__item {
    list-style-type: none;
    padding: 20px 77px;
    border: 1px solid rgba(19, 19, 19, 0.9);
    width: auto;
    margin: 5px;
    cursor: pointer;
}
.popup__item:last-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: none;
}
.popup__item:hover {
    color: rgba(242, 242, 242, 1);
    border: 1px solid rgba(242, 242, 242, 1);
}
.popup__item:last-child:hover {
    color: rgba(242, 242, 242, 1);
    border: none;
}
.popup__item:last-child img {
    border-radius: 10px;
}
.popup__item:last-child img:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(242, 242, 242, 1);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
.popup__phone {
    position: fixed;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-150%);
    transition: all 0.7s ease-in-out;
    width: 1080px;
    height: 655px;
    background: rgba(255, 255, 255, 0.95);
    z-index: 2;
}
.popup__phone.active {
    display: flex;
    transform: translateX(0%);
    transition: all 0.7s ease-in-out;
}
.popup__phone-block {
    max-width: 620px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 1);
}
.popup__phone-item{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 490px;
    bottom: 20px;
}
.close_line {
    display: inline;
    border-bottom: 4px solid rgba(79, 79, 79, 1);
    width: 36px;
    margin-bottom: 7px;
    border-radius: 3px;
    transform: rotate(45deg);
}
.close_line:last-child {
    position: relative;
    transform: rotate(135deg);
    bottom: 11px;
}
.popup__phone-block h3 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
    margin: 36px;
}
.popup__phone-block input {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: rgba(79, 79, 79, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 26px 0px 26px 37px;
    margin: 10px 0px;
    width: 583px;
}
.popup__phone-block:hover input:invalid:required{
    border: 1px solid rgb(255, 0, 0);
}
.popup__phone-block button {
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    padding: 36px 178px;
    background: rgba(250, 255, 9, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    margin: 37px 0px;
}
.popup__phone-block button:hover {
    color: rgba(250, 255, 9, 1);
    border: 1px solid rgba(250, 255, 9, 1);
    background: rgba(0, 0, 0, 1);
}
.header__container {
    padding: 0px 85px;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.288)100%), url(./main-images/main.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.7s ease-in-out;
}
.header__container.active {
    opacity: 80%;
}
.header__container-item {
    width: 100%;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(to right, rgba(0, 0, 0, 1.4), rgba(0, 0, 0, 0));
    margin-bottom:160px ;
  }
.header__container-item a {
    position: relative;
    top: 60px;
}
.header__container-item a img {
    width: 187px;
    height: 96px;
}
.header__container-item img {
    cursor: pointer;
    margin: 50px;
  }
.header__container-item:last-child {
    background: none;
    flex-direction: column;
    margin: 160px 0px;
  }
.header__container-item:last-child h1 {
    color: rgba(242, 242, 242, 1);
    font-family: roboto;
    font-size: 80px;
    font-weight: 300;
    line-height: 93px;
    margin-bottom: 100px;
  }
.header__buttons {
    margin: 90px 0px 70px 0px;
}
.header__button:hover {
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(196, 196, 196, 1);
    background: rgba(196, 196, 196, 1);
}
.header__button:active {
    border: 1px solid rgba(196, 196, 196, 1);
    background: rgba(17, 17, 17, 0.9);
}
.header__container-item:last-child button {
    color:rgba(255, 255, 255, 1);
    font-family: roboto;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    line-height: 28px;
    padding: 25px 120px;
    border: 1px solid rgba(196, 196, 196, 1);
    margin: 25px;
    background: none;
}
.header__container-item:last-child button:last-child {
    padding: 25px 55px;
}
/**==main==*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.7s ease-in-out;
    opacity: 1;
}
main.active {
    opacity: 30%;
    transition: all 0.7s ease-in-out;
}
.main__block {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 40px 40px 50px;
}
/*achivement*/

.achvment {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 37px 45px;
    background:rgba(242, 242, 242, 1);
}
.achivement__item {
    margin: 0px 20px;
}
.achivement__list {
    padding-left: 37px;
    max-width: 340px;
}
.achivement__list-item {

    color:rgba(14, 14, 14, 1);
    font-size: 28px;
    line-height: 32.8px;
}
.achivement__item h3 {
    color: rgba(14, 14, 14, 1);
    font-size: 64px;
    font-weight: 400;
    line-height: 75px;
}
.achivement__item li{
    color: rgba(14, 14, 14, 1);
    font-size: 28px;
    line-height: 32.8px;
    font-weight: 400;
    margin-bottom: 17px;
}
.achivement__item p {
    color: rgba(14, 14, 14, 1);
    font-size: 18px;
    line-height: 21px;
    font-weight: 300px;
}
/*==project__cost==*/
.main__block:nth-child(2) {
    margin: 0;
}
.project__cost {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(189, 189, 189, 1);
}
.project__cost h2 {
    margin-left: 60px;
    font-weight: 300;
    font-size:48px;
    line-height: 56px;
    margin-bottom: 10px;
}
/* .project__cost span {
    width: 200px;
    border-bottom:10px solid rgba(0, 0, 0, 1);
} */
.line {
    width: 200px;
    border-bottom:10px solid rgba(0, 0, 0, 1);
}
.project__cost-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 147px;
}
.project__cost-block__item h3 {
    margin:56px 0px 24px 0px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
}
.project__cost-block__item p {
    font-size: 36px;
    line-height: 52px;
    font-weight: 300;
    margin: 24px 0px 77px 0px;
}
.project__cost-block__item:first-child {
    margin-left: 200px;
    width: 60%;
}
.project__cost-block__button {
    margin: 77px 0px 186px 0px;
    color:rgba(255, 255, 255, 1);
    font-size: 36px;
    font-weight: 300;
    line-height: 42px;
    padding: 25px 104px;
    background: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 1);
}
.project__cost-block__button:hover {
    color:black;
    border: 1px solid black;
    background: rgba(196, 196, 196, 1);
}
.project__cost-block__item:last-child {
    height: auto;
    border-left: 1px solid rgba(189, 189, 189, 1);
}
.bonusSamll {
    position: relative;
    top: 75px;
    left:378px
}
.bonuses_text {
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    font-weight: 400 !important ;
    line-height: 53px;
    padding-left:77px ;
    margin: 20px 0px !important;
}
.project__cost-block__item-ul {
    padding-left: 110px;
    color: rgba(51, 51, 51, 1);
    font-size: 36px;
    line-height: 53px;
    font-weight: 300;
}
.project__cost-block__item-ul li {
    color: rgba(51, 51, 51, 1);
    font-size: 36px;
    line-height: 53px;
    font-weight: 300;
    margin-bottom: 27px;
}
/**==services==*/
.main__block:nth-child(3) {
    margin: 0px;
    width: 100%;
    margin-bottom: -159px;
}
.services {
    position: relative;
    bottom: 107px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(189, 189, 189, 1);
    margin-bottom: 50px;
}
.services__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 200px;
    z-index: 2;
}
.services__block:last-child {
    display: flex;
    flex-direction: row;
    top: 0px;
    z-index: 1;

}
.services__block h2 {
    font-size: 38px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 15px;
}
.services__block span {
    position: relative;
    right: 90px;
    margin-bottom: 25px;
}
.services__block {
    position: relative;
}
.services__block-item {
    width:437px ;
    height: auto;
    border-left: 1px solid rgba(189, 189, 189, 1);
    border-right: 1px solid rgba(189, 189, 189, 1);
    padding-bottom: 39px;
}
.services__block-item-text {
    margin-top: 42px;
}
.services__block-item-text h3 {
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    margin-left: 15px;
    margin-bottom: 23px;
}
.services__block-item-text p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin-left: 15px;
}
.services__block-item {
    padding-top: 220px;
}
/*projects*/
.projects {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(189, 189, 189, 1);
}
.projects__block {
    display: flex;
    flex-direction: column;
}
.projects__block:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.projects__block:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 52px;
}
.projects__block h2 {
    color: rgba(0, 0, 0, 1);
    font-size: 48px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 15px;
}
.projects__block h4 {
    font-size: 38px;
    font-weight: 300;
    line-height: 56px;
}
.projects__block-item p {
    color: rgba(79, 79, 79, 1);
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 13px;
}
.projects__block-item p:last-child {
    font-size: 18px;
    line-height: 21px;
    font-weight: 300px;
    margin-bottom: 48px;
}
.projects__block span {
    position: relative;
    right: 90px;
    margin-bottom: 25px;
}

.projects__block-item {
    position: relative;
    width:576px  ;
}
.active_button1, .active_button2, .active_button3, .active_button4, .active_button5, .active_button6 {
    cursor: default;
    position: absolute;
    display: none;
    width: 577px;
    height:658px ;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.projects__block-item-button {
    top: 50%;
    left: 180px;
    position: absolute;
    color: rgba(255, 255, 255, 1);
    padding: 23px 64px;
    border: 1px solid rgba(196, 196, 196, 1);
    background: rgba(0, 0, 0, 0.8);
    opacity: 80%;
}
.projects__block-item-button:hover {
    transform: translateY(1px);
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 10px #ffffff;
}
.projects__block-item-a:hover .active_button1 {
    display: block;
    z-index: 1;
}
.projects__block-item-a:hover .active_button2 {
    display: block;
    z-index: 1;
}
.projects__block-item-a:hover .active_button3 {
    display: block;
    z-index: 1;
}
.projects__block-item-a:hover .active_button4 {
    display: block;
    z-index: 1;
}
.projects__block-item-a:hover .active_button5 {
    display: block;
    z-index: 1;
}

.projects__block-item-a:hover .active_button6 {
    display: block;
    z-index: 1;
}
.projects__block-item:nth-child(6) img {
    width: 576px;
    height: 657px;
}
.projects__block-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    color:rgba(242, 242, 242, 1);
    background:rgba(0, 0, 0, 1) ;
    border: 1px solid black;
}
.projects__block-button img {
    padding: 20px 5px 20px 56px;
}
.projects__block-button p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    padding:19px 45px 19px 5px ;
}
.projects__block-button:hover {
    color:rgba(242, 242, 242, 1);
    border: 1px solid black;
    background: rgba(83, 83, 83, 1);
}
/**==stages==*/
.stages {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(189, 189, 189, 1);
}
.stages__block {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.stages__block span {
    position: relative;
    right: 112px;
    margin: 30px 0px 50px 0px;
}
.stages__block:last-child {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.stages__block-item {
    display: flex;
    flex-direction: row;
}
.stages__block-item__block {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}
.number {
    font-size: 64px;
    line-height: 93px;
    font-weight: 500;
    padding: 77px 10px 0px 0px ;
}
.stages__block-item__block-item h5 {
    width: 163px;
    background: rgba(250, 255, 9, 1);
    font-size: 32px;
    line-height: 37.5px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}
.stages__block-item__block-item p {
    max-width: 387px;
    color: rgba(79, 79, 79, 1);
    font-size: 28px;
    line-height: 41.35px;
    font-weight: 400;
    margin: 19px 0px 24px 0px;
}
.stages__block-item__block-item img {
    margin-bottom: 26px;
}
.stages__block-item__block-item img:last-child {
    margin-bottom: 0px;
}
.stages__block-item__block-item-img {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.stages__block-item__block-item-img a {
    margin-left:6px ;
    text-decoration-line:underline;
}
.qwerty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius:45px;
    background:rgba(250, 255, 9, 1) ;
}
.qwerty img {
    width: 14px;
    height: 10px;
    align-items: center;
}
.small-line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 44px;
}
.stages__block h2 {
    color: rgba(0, 0, 0, 1);
    font-size: 48px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 15px;
}
.stages__block-item button {
    margin-left: 77px;
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    font-weight: 300;
    line-height: 39px;
    padding: 35px 109px;
    border: 1px solid rgba(0, 0, 0, 1);
}
.stages__block-item button img {
    margin-left: 57px;
}
.stages__block-item button:hover {
    border: 1px solid rgba(250, 255, 9, 1);
}
/**==info==*/
.main__block:nth-child(7) {
    width:  100%;
    height: 787px;
    background-image: url("./main-images/info.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
.info {
    color:rgba(255, 255, 255, 1) ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 500px;
}
.info h1 {
    font-size: 48px;
    font-weight: 300;
    line-height: 70px;
    margin:-33px 0px 106px 0px;
}
.info ul {
    padding-left: 60px;
    /* list-style-position: inside; */
}
.info li {
    font-size:36px;
    line-height: 52px;
    font-weight: 300;
}
.info li::marker {
    font-size: 2em;
    padding-left: 20px;
}
/**==instagram==*/
.instagram {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.instagram__block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.instagram__block:first-child {
    margin: 50px 0px 25px 55px;
}
.instagram__block-item {
    margin: 10px;
    border: 1px solid white;
    transition: all 0.5s ease-in-out;
}
.instagram__block-item:hover{
    border: 1px solid yellow;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}
/**==catalog==*/
.main__block:nth-child(10) {
    width: 100%;
    margin: 45px 0px;
}
.catalog {
    width: 92%;
    margin: 0px 69px 0px 0px;
}
.catalog__block {
    display: flex;
    flex-direction: column;
}
.catalog__block h2 {
    color: rgba(0, 0, 0, 1);
    font-size: 48px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 15px;
}
.catalog__block span {
    position: relative;
    right: 50px;
    margin: 30px 0px 50px 0px;
}
.catalog__block:last-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.catalog__block-item {
    display: flex;
    flex-direction: column;
    /* margin: 0px 80px 0px 112px; */
}
.catalog__block-item:last-child {
    margin-left:107px;
    flex-direction: column;
    justify-content: space-between;
}
.catalog__block-item h3 {
    max-width: 477px;
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    line-height: 52px;
    font-weight: 500;
    margin-bottom: 20px;
}
.catalog__block-item p {
    max-width: 425px;
    color: rgba(79, 79, 79, 1);
    font-size: 24px;
    line-height: 35px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 43px;
}
.catalog__block-item input {
    max-width: 677px;
    color: rgba(79, 79, 79, 1);
    font-size: 34px;
    line-height: 25px;
    font-weight: 300;
    border: 1px solid rgba(0, 0, 0, 1);
    padding:30px;
}
.catalog__block-item button {
    width: 677px;
    margin: 20px 0px 0px 0px;
    color:rgba(255, 255, 255, 1);
    font-size: 36px;
    font-weight: 300;
    line-height: 42px;
    padding: 25px 104px;
    background: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 1);
}
.catalog__block-item button:hover {
    color:black;
    border: 1px solid black;
    background: rgba(196, 196, 196, 1);
}
.checkbox__item a {
    text-decoration-line: underline;
}
.custom_checkbox {
    width: 17px;
    height: 17px;
    accent-color: rgba(0, 0, 0, 1);
}
.catalog__block-item:hover input:invalid:required{
    border: 1px solid rgb(255, 0, 0);
}
input:valid {
    border: 1px solid rgb(21, 177, 0);
}

/*==footer==*/

.footer {
    width: 100%;
    height: 100%;
    background: rgba(14, 14, 14, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 60px 29px 60px;
}
.footer__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background: rgba(14, 14, 14, 1);

}
.footer__block-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footer__block-item li {
    list-style-type: none;
    color: rgba(242, 242, 242, 1);
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin:10px 0px;
    cursor: pointer;
}
.footer__block-item li:first-child {
    color:rgba(250, 255, 9, 1) ;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0px;
}
.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer__links li {
    margin: 0px 33px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.footer__links li:first-child {
    margin: 0px 33px;
}
.footer__links li:hover {
    color:rgba(250, 255, 9, 1) ;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
.footer__links li a img {
    border-radius: 10px;
}
.footer__links li a img:hover{
    box-shadow: 0px 0px 10px rgba(250, 255, 9, 1); 
}
.footer__button img {
    transform: rotate(90deg);
}
.footer__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 185px;
    height: 70px;
    padding:21px 25px 21px 23px ;
    border: 1px solid rgba(250, 255, 9, 1) ;
    color:rgba(250, 255, 9, 1) ;
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
}
.footer__button a {
    color:rgba(250, 255, 9, 1) ;
}
.footer__button:hover, .footer__button:active {
    transform: rotate(-90deg);
    box-shadow: 0px 0px 10px rgba(250, 255, 9, 1);
}
.footer__button-text {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
}
.footer p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin-top: 48px;
    color:rgba(189, 189, 189, 1) ;
}
